<?xml version="1.0"?>
<!--common settings.
	generate-log
		Will generate text log of console output inside application location.
	verbosity
		Prints more information per level.
	extract-settings
		folder-per-archive
			When extracting, create folder that uses input archive's name as output dir.
		create-zip
			Pack extracted files inside ZIP file named after input archive. Your HDD will thank you.
	compress-settings
		ratio-threshold
			Writes compressed data only when compression ratio is less than specified threshold [0 - 100]%
		min-file-size
			Files that are smaller than specified size won't be compressed.
	texel-settings
		output-format
			Specify output format for images
			Values: 
				DDS_Legacy:
					Use legacy dds container but decode to uncompressed formats if necessary
					Supported legacy formats:
					  BC1, BC2, BC3, Grayscale, RGB8, RGBA8, RGB565, RGBA4
					Other formats will be converted to 8bit channeled format like:
					  BC4 -> Grayscale
					  BC5 -> RGX8
					  BC7 -> RGBA8 or RGB8
					Support for mipmaps, cubemaps, volumetrics

				DDS:
					dds, data format is unchanged
					PVRTC and ETC will be converted to RGBA8

				QOI_BMP:
					Decode to Quite OK Image format.
					Only for RGX, RGB and RGBA
					2 channels will be converted to RGX8
					Decode to BMP for P8, P4, Grayscale,

				QOI:
					Decode to Quite OK Image format.
					Normal formats RGB and RGBA are kept instact
					2 channels will be converted to RGX8
					8bit (P8) and 4bit (P4) palletes will be expanded to RGB or RGBA
					Grayscale will be expanded to RGB

		single-cube
			Convert cubemaps into equirectangular layout
		process-mipmaps
			Save only largest mipmap for each mipmap chain
-->
<common
	generate-log="false"
	verbosity="0">
	<extract-settings
		folder-per-archive="true"
		create-zip="true" />
	<compress-settings
		ratio-threshold="90"
		min-file-size="128" />
	<texel-settings
		output-format="DDS_Legacy"
		single-cube="true"
		process-mipmaps="false" />
</common>
